.session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 130vh;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
  }

  .gym-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .gym-title {
    color: black;
    font-family: 'Pacifico', cursive;
    margin: 0;
    font-weight: bold;
    border-radius: 8px;
    font-size: 24px;
    background-color: grey;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

  }

  .gym-info {
    background-color: grey;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }

  .gym-sessions-container {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: grey;
  border-radius: 8px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  }

.session-item {
border: 2px solid black;
background-color: rgb(141, 136, 136);
border-radius: 8px;
}

.session-info-title {
  border: 2px solid white;
  background-color: grey;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.session-container .join-gym-button {
  padding: 5px 10px;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: white;
  background-color: rgb(7, 168, 7);
  border-radius: 5px;
  cursor: pointer;
}



.join-gym-button:hover {
  background-color: darkgreen;
}

.session-container .leave-gym-button {
  padding: 5px 10px;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: white;
  background-color: rgb(126, 10, 10);
  border-radius: 5px;
  cursor: pointer;
}



.leave-gym-button:hover {
  background-color: rgb(170, 10, 10);
}
