.session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 130vh;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
  }

  .details-box {
    background-color: gray;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    border-radius: 15px;
    margin: 20px;
  }

  .gym-members-container {
    background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  }


  .gym-sessions-container {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  }

  .gym-sessions-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    }

.session-item {
  padding: 20px;
border: 2px solid black;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 8px;
margin: 10px;
}

.not-session-item {
  padding: 20px;
  font-size: 20px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Pacifico', cursive;
  border-radius: 8px;
  margin: 10px;
}

.session-info-title {
  border: 2px solid white;
  background-color: grey;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.session-container .join-gym-button {
  padding: 5px 10px;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: white;
  background-color: rgb(7, 168, 7);
  border-radius: 5px;
  cursor: pointer;
}



.update-button:hover {
  background-color: darkgreen;
}

.session-container .leave-gym-button {
  padding: 5px 10px;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  color: white;
  background-color: rgb(126, 10, 10);
  border-radius: 5px;
  cursor: pointer;
}



.cancel-button:hover {
  background-color: rgb(170, 10, 10);
}
