.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .box-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    font-weight: medium;
    font-size: 32px;
    margin-bottom: 10px;
  }

  .header-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing-page-title {
    color: black;
  }

  .landing-page-description {
    color: black;
    font-size: 16px;
  }

  .SparMe-logo {
    width: 200px;
    height: auto;
    border-radius: 8px;
  }

  .button-login, .button-get-started, .button-about {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
  }

  .button-login {
    background-color: #4CAF50; /* Green */
  }

  .button-get-started {
    background-color: #008CBA; /* Blue */
  }

  .button-about {
    background-color: #f44336; /* Red */
  }

  .button-login:hover, .button-get-started:hover, .button-about:hover {
    opacity: 0.8;
  }

  .social-media-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 20px;
}

.social-media-logo {
  width: 120px;
  height: auto;
  opacity: 0.8;
}

.social-media-logo1 {
  width: 60px;
  height: auto;
  opacity: 0.9;
}

.social-media-logo:hover {
  opacity: 2;
}
.social-media-logo1:hover {
  opacity: 2;
}
