.dashboard-container {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.dashboard-header {
  padding: 20px;
  width: 50%;
}

.dashboard-title {
    font-size: 26px;
    border: 2px solid white;
    background-color: grey;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.dashboard-date {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.dashboard-greeting {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

.dashboard-section-container {
  display: flex;
  flex-direction: column;
}

.dashboard-section {
  background-color: grey;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid white;
}

.dashboard-section-title {
  margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    background-color: grey;
    color: black;
    border-radius: 8px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dashboard-task-list {
  border: 2px solid white;
  padding: 20px;
  margin: 15px;
  font-size: 24px;
  background-color: grey;
  border-radius: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-user-item {
  margin-bottom: 10px;
  border-radius: 8px;
}

.dashboard-user-link {
  text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.dashboard-upcoming-spar {
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  font-family: 'Bangers', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.dashboard-session-link {
  font-size: 20px;
  color: #FF9900;
  text-decoration: none;
}

.user-info {
  font-weight: bold;
  color: black;
  font-size: 20px;

}

.dashboard-container button {
  font-size: 20px;
  padding: 10px 20px;
}

.dashboard-task-link:visited,
.dashboard-task-link:active,
.dashboard-session-link:visited,
.dashboard-session-link:active {
  color: black;
  font-family: 'Bangers', cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.dashboard-task-link:hover,
.dashboard-session-link:hover {
  color: #FF6600;
  text-decoration: underline;
}

.get-started {
  background-color: rgb(7, 168, 7);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.get-started:hover {
  background-color: darkgreen;
}

.dashboard-no-upcoming-spar{
  font-size: 20px;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
}

.dashboard-container .load-more-button {
  padding: 5px 10px;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  color: white;
  background-color: rgb(7, 168, 7);
  border-radius: 5px;
  cursor: pointer;
}



.load-more-button:hover {
  background-color: darkgreen;
}

.dashboard-container .collapse-users-button {
  margin: 5px;
  padding: 5px 10px;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}

.collapse-users-button:hover {
  background-color: darkred;
}
